<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Банк материалов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form action="/materials-filter" class="mt-3" method="get">
        <select name="subject" id="subject-select" class="form-select">
            <option value="alg" selected>Алгебра</option>
            <option value="geom">Геометрия</option>
            <option value="soc">Обществознание</option>
            <option value="inf">Информатика</option>
        </select>
        <select name="level" id="level-select" class="form-select">
            <option value="5-9" selected>5-9</option>
            <option value="10-11">10-11</option>
        </select>
        <button name="clear" class="btn btn-danger">Очистить</button>
    </form>
    <div class="mt-3">
        <table class="table">
            <tr>
                <td>Название</td>
                <td>Предмет</td>
                <td><a href="#" target="_blank" class="btn btn-light">Посмотреть</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>