{% extends 'test_editor.html' %}
{% block content %}
    <div class="container question multi">
        <form action="/editor_checkbox/" method="post">
            <div class="input-group">
                <span class="input-group-text">Вопрос: </span>
                <textarea class="form-control" aria-label="With textarea" name="question">{{ question }}</textarea>
            </div>

            {% for i in range(lenght) %}
                <div class="form-check input-group mb-3">
                    <input type="text" class="form-control" name="{{ i }}" value="{{ answers[i][0] }}"
                           style="width:60%;">
                    <input type="number" class="form-control" name="{{ i }}-weight" value="{{ answers[i][1] }}"
                           style="width: 10%;">
                    <button type="submit" class="btn-close" name="action" value="close-{{ i }}"></button>
                </div>
            {% endfor %}

            {% if flag %}
                <div class="alert alert-danger" role="alert">
                    Сумма баллов не равна 100!
                </div>
            {% endif %}

            <button type="submit" class="btn btn-primary" name="action" value="add_answer">Добавить ответ</button>
            <button type="submit" class="btn btn-danger" name="action" value="save">Сохранить</button>
        </form>
    </div>
{% endblock %}