{% extends 'test_editor.html' %}
{% block content %}
    <div class="container question one-chose">
        <form action="/editor_one_chose/" method="post">
            <div class="input-group">
                <span class="input-group-text">Вопрос: </span>
                <textarea class="form-control" aria-label="With textarea"
                          name="question">{{ question }}</textarea>
            </div>

            {% for i in range(lenght) %}
                <div class="form-check input-group mb-3">
                    {% if point == loop.index0 %}
                        <input class="form-check-input" type="radio"
                               name="right-answer" value="{{ i }}" checked>
                    {% else %}
                        <input class="form-check-input" type="radio"
                               name="right-answer" value="{{ i }}">
                    {% endif %}
                    <input type="text" class="form-control" name="{{ i }}"
                           value="{{ answers[i][0] }}"
                           style="width:60%;">
                    <button type="submit" class="btn-close" name="action"
                            value="close-{{ i }}"></button>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary" name="action"
                    value="add_answer">Добавить ответ
            </button>
            <button type="submit" class="btn btn-danger" name="action"
                    value="save">Сохранить
            </button>
            <button type="submit" class="btn btn-dark" name="action"
                    value="cls-editor">Закрыть
            </button>
        </form>
    </div>

{% endblock %}