<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактор теста</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">

</head>
<body>

<div class="container">
    <h1>Редактор теста</h1>
    <form action="/create_test/" method="post">
        <div class="test-info">
            Здесь должно быть описание теста.
        </div>
        <div class="test-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">id</th>
                    <th scope="col">Вопрос</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for item in obj['tasks'] %}
                <tr>
                    <th scope="row">Сюда номер </th>
                    <td>Сюда id</td>
                    <td>{{ item['Q']}}</td>
                    <td>Кнопка редактирования</td>
                    <td>Кнопка удаления</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="test-buttons">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-primary" name="action"
                        value="checkbox">Множественный выбор
                </button>
                <button type="submit" class="btn btn-primary" name="action"
                        value="radio">Один ответ
                </button>
                <button type="submit" class="btn btn-primary" name="action"
                        value="text">Текстовый вопрос
                </button>
            </div>
        </div>


    </form>
    {% block content %}

    {% endblock %}
    <form action="/close-editor-total" method="post">
        <button type="submit" class="btn btn-warning" name="action"
                value="cls-total=editor">Закрыть редактор
        </button>
    </form>
</div>

</body>
</html>